#container{
    background-image: radial-gradient(#6699CC, #5F5F5F);
    padding: 2.5%;
    
}

.card{
    margin-bottom: 5%;
}

.test{
    width:45%
}

#transfers_content{
    display:flex;
    justify-content: space-evenly;
}