<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menthol - All Expenses</title>
</head>
<body>
    <div id="container">
        <div id="navigation">
            <h2>Good Morning {{user.first_name}}!</h2>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <div id="main_wrapper">
            <!--Table goes here-->
            <a href="/expenses/new">Add new expense</a>
        </div>
    </div>
</body>
</html>